# MySQL credentials
MYSQL_HOST=localhost
MYSQL_USER=root
MYSQL_PASSWORD=your_mysql_password
MYSQL_DB=sp500_db

# Get this from Atlas -> Connect -> Drivers -> Python
# I will share mine to Favor
MONGO_URI=mongodb+srv://<db_username>:<db_password>@cluster0.xxxxx.mongodb.net/?appName=Cluster0
MONGO_DB=sp500_db